*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

:root{
 --sec:black;
 --main:white; 
}
body {
    height: 100%;
  }
a{
  background-color: transparent;
}
header{
    display: flex;
    padding: 1rem 1rem;
    /* padding-top: 1rem; */
    
    justify-content: flex-end;
    align-items: center;
    min-height: 3rem;
    color: var(--sec);
    background-color: rgba(--main,0.7);
    backdrop-filter: blur(6px);
    border-bottom: solid 2px gray;
    /* position: fixed;
    top: 0; 
    width: 100%; */
    position: sticky;
    top: 0;
    z-index: 1;
}

.feather-code{
}

.logo{
    font-size: 2rem;
    margin-right: auto;
}

.nav {
    display: flex;
    height: 100%;
}

.nav a{
    font-size: 1.2rem;
    color: var(--sec);
    margin-left: 1rem;
    padding: 1rem; 
}


.nav li{
    transition: all .5s;
  }  
.nav li:hover {
    z-index: 2; 
    
    transform: scale(1.2);

}

.resume{
  background-color: black;
  padding: 0.4rem 0.8rem;
  border-radius: 50px;
  margin-left: 1rem;
  transition: all .5s;
}

.resume:hover {
    z-index: 2; 
    
    transform: scale(1.2);

}
#resume{


    font-size: 1.2rem;
  color: var(--main);
}


.container{
    width: 100%;
    height: 100vh;
    background-color: var(--main) ;
    scroll-snap-type: y mandatory;
}

.container .section{
    padding: 0 1rem;
    width: 100%;
    
   height:calc(100vh - 4.4rem); 
   
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-margin-top:5rem;
    color: var(--sec); 
}

.pg1{
   
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: stretch; /* stretch items to fill container height */
  grid-auto-rows: minmax(calc(50vh - 2.5rem),auto); /* set a minimum height for the grid items */
  min-width: 250px; 
  

  
}
.feather-align-right{
  display: none;
}

.pg1 .social{
  background-color: powderblue;
  border-radius: 5px;
  justify-self: stretch ;
  align-self: stretch;
  border: solid 2px gray;
  margin: 4rem 0;
}
.pg1 .main-text{
    /* align-self: center; */
    font-size: 3.3rem;
    padding-top: 4rem;
  
    /* background-color: blue; */
    justify-self: center;
}
.main-text p{
  margin-top: 1rem;
  font-size: 1.5rem;
}



@media (width <= 1111px) {


.feather{
    /* background-color: gray; */
  }  


.feather-align-right{
  display: block;
  margin-left: .8rem;  
}
.nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
    width: 100%;
    height: 100vh;
    background-color: var(--main);
    justify-items: center;
    align-items: center;
    gap: 5rem;
    padding-top: 9rem;
    padding-right:1rem ;

    transition: all .5s ease-in;
      transform: translateY(-100%);
      /* transform: translateY(0%); */

  }

.nav a{
    font-size: 2rem;
    color: var(--sec);
}
.nav li{
    transition: all 1s;
  }  
.nav li:hover {
    
  
    transform: scale(1.5);

}
.pg1 .color{
    color: var(--main);
  }  


.pg1 .social{
  background-color: powderblue;
    border-radius: 5px;
}


.pg1 .main-text{
    /* align-self: center; */

    padding-top: 3rem;
    justify-self: left; 
    font-size: 2.2rem;
    max-width: 80%;
    
    /* background-color: blue; */

}


  
}

