@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	/* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     */
	/* font-family: 'Averta', sans-serif; */
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.swal2-popup {
	border: 1px solid var(--foreground) !important;
	color: var(--foreground) !important;
	background-color: var(--background) !important;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	height: 6px;
	width: 6px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: #171717;
	border-radius: 15px;
}

a {
	background-color: transparent;
}

@font-face {
	font-family: 'MabryPro';
	src: url('/MabryPro-Regular.ttf');
}

@font-face {
	font-family: 'Averta';
	src: url('/AvertaStd-Regular.ttf');
}

body {
	height: 100%;
}
:root {
	--light-background: #fff;
	--dark-background: #0b1416;
	--dark-foreground: #fff;
	--light-foreground: #000;
}

@layer base {
	:root {
		--text-50: #eafbfb;
		--text-100: #d4f7f7;
		--text-200: #a9efef;
		--text-300: #7ee7e7;
		--text-400: #54dede;
		--text-500: #29d6d6;
		--text-600: #21abab;
		--text-700: #188181;
		--text-800: #105656;
		--text-900: #082b2b;
		--text-950: #041515;

		--background-50: #eafbfa;
		--background-100: #d4f7f5;
		--background-200: #aaeeec;
		--background-300: #7fe6e2;
		--background-400: #55ddd9;
		--background-500: #2ad5cf;
		--background-600: #22aaa6;
		--background-700: #19807c;
		--background-800: #115553;
		--background-900: #082b29;
		--background-950: #041515;

		--primary-50: #eafbfb;
		--primary-100: #d4f7f6;
		--primary-200: #aaeeed;
		--primary-300: #7fe6e4;
		--primary-400: #55dddb;
		--primary-500: #2ad5d2;
		--primary-600: #22aaa8;
		--primary-700: #19807e;
		--primary-800: #115554;
		--primary-900: #082b2a;
		--primary-950: #041515;

		--secondary-50: #eafbfb;
		--secondary-100: #d5f6f6;
		--secondary-200: #aaeeee;
		--secondary-300: #80e5e5;
		--secondary-400: #56dcdc;
		--secondary-500: #2bd4d4;
		--secondary-600: #23a9a9;
		--secondary-700: #1a7f7f;
		--secondary-800: #115555;
		--secondary-900: #092a2a;
		--secondary-950: #041515;

		--accent-50: #eafbfb;
		--accent-100: #d4f7f6;
		--accent-200: #aaeeed;
		--accent-300: #7fe6e4;
		--accent-400: #55dddb;
		--accent-500: #2ad5d2;
		--accent-600: #22aaa8;
		--accent-700: #19807e;
		--accent-800: #115554;
		--accent-900: #082b2a;
		--accent-950: #041515;
	}
	.dark {
		--text-50: #041515;
		--text-100: #082b2b;
		--text-200: #105656;
		--text-300: #188181;
		--text-400: #21abab;
		--text-500: #29d6d6;
		--text-600: #54dede;
		--text-700: #7ee7e7;
		--text-800: #a9efef;
		--text-900: #d4f7f7;
		--text-950: #eafbfb;

		--background-50: #041515;
		--background-100: #082b29;
		--background-200: #115553;
		--background-300: #19807c;
		--background-400: #22aaa6;
		--background-500: #2ad5cf;
		--background-600: #55ddd9;
		--background-700: #7fe6e2;
		--background-800: #aaeeec;
		--background-900: #d4f7f5;
		--background-950: #eafbfa;

		--primary-50: #041515;
		--primary-100: #082b2a;
		--primary-200: #115554;
		--primary-300: #19807e;
		--primary-400: #22aaa8;
		--primary-500: #2ad5d2;
		--primary-600: #55dddb;
		--primary-700: #7fe6e4;
		--primary-800: #aaeeed;
		--primary-900: #d4f7f6;
		--primary-950: #eafbfb;

		--secondary-50: #041515;
		--secondary-100: #092a2a;
		--secondary-200: #115555;
		--secondary-300: #1a7f7f;
		--secondary-400: #23a9a9;
		--secondary-500: #2bd4d4;
		--secondary-600: #56dcdc;
		--secondary-700: #80e5e5;
		--secondary-800: #aaeeee;
		--secondary-900: #d5f6f6;
		--secondary-950: #eafbfb;

		--accent-50: #041515;
		--accent-100: #082b2a;
		--accent-200: #115554;
		--accent-300: #19807e;
		--accent-400: #22aaa8;
		--accent-500: #2ad5d2;
		--accent-600: #55dddb;
		--accent-700: #7fe6e4;
		--accent-800: #aaeeed;
		--accent-900: #d4f7f6;
		--accent-950: #eafbfb;
	}
}

html {
	--background: var(--light-background);
	--foreground: var(--light-foreground);
}

html.dark {
	--background: var(--dark-background);

	--foreground: var(--dark-foreground);
}
:root {
	--sec: black;
	--main: rgb(255, 255, 255);

	--shadowColor: 187 60% 40%;
	--shadow: 187, 47%, 60%;

	/* Colors */
	--accent: #e63946;
	--background: #faf9f8;
	--lightAccent: #a8dae5;
	--lighterAccent: #e6e8e4;
	--dark: #457b9d;
	--darker: #1d3557;
	--slate: #2f3948;

	--white: #fff;
	--black: #152030;

	--ink: var(--slate);
	--paper: var(--background);

	/* Fonts */
	/**
         * These are broken out into two separate variables from a previous iteration. I left
         * it in because it's nice to be able to split out the heading and body fonts.
         */
	--accentFont: 'Libre Franklin', Georgia, Times, serif;
	--primaryFont: 'Libre Franklin', sans-serif;
	--codeFont: 'Fira Code', monospace;

	/* Base styles */
	font-size: 1rem;
}

.tick-animation {
	display: inline-block;
	width: 14px;
	height: 10px;
	background-image: url('path-to-your-tick-image.png'); /* Replace with your tick image */
	background-size: contain;
	animation: tick-fade 1s;
}

@keyframes tick-fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.hidden1 {
	will-change: opacity, filter, transform;
}

.show {
	animation-name: show-animation;
	will-change: opacity, filter, transform;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease;
}

@keyframes show-animation {
	0% {
		transform: translate3d(-80%, 0, 0);
		opacity: 0.3;
	}

	100% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

code[class*='language-'],
pre[class*='language-'] {
	color: #f8f8f2;
	background: none;
	position: relative;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
	padding: 1em;
	margin: 2rem 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: #0f1224;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6272a4;
}

.token.punctuation {
	color: #f8f8f2;
}

.namespace {
	opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #ff79c6;
}

.token.boolean,
.token.number {
	color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #f1fa8c;
}

.token.keyword {
	color: #8be9fd;
}

.token.regex,
.token.important {
	color: #ffb86c;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.blog {
	color: var(--foreground);
}

.blog p {
	font-size: 1.2rem;
	line-height: normal;
	margin: 2rem 0;
}

.blog h1 {
	font-size: 2.5rem;
	line-height: 3rem;
}

.blog h2 {
	font-size: 2rem;
	line-height: 2.5rem;
}

.blog h3 {
	font-size: 1.5rem;
	line-height: 2rem;
}

.blog h4 {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.blog h5 {
	font-size: 1rem;
	line-height: 1.2rem;
}

.blog h6 {
	font-size: 0.8rem;
	line-height: 1rem;
}

.blog img {
	box-shadow: 0.3rem 0.3rem 0 hsl(var(--shadowColor) / 1);
}

.copy {
	background-color: whitesmoke;
	border-radius: 0.25rem;
	color: #171717;
	margin-left: auto;
	position: absolute;
	top: 1rem;
	right: 1rem;

	padding: 1px 5px;
	border: 2px black;
}
